header {
  margin: 0px -50px;
  z-index: 2;

  .header_navigation {
    display: flex;
    flex-direction: row;
    padding: 15px 20px;
    align-items: center;

    a {
      text-decoration: none;
      color: white;
    }

    &__title {
      font-size: 28px;
      font-family: "Fira Sans", sans-serif;
      margin-right: 40px;
    }

    .menu {
      list-style-type: none;
      display: flex;
      align-items: center;
      &__item {
        margin: 5px;
        font-size: 16px;
        cursor: pointer;
      }
      &__item a:hover {
        animation: changeColor linear 200ms;
        animation-fill-mode: forwards;
      }
    }

    .header_navigation__icon_menu {
      margin-left: auto;
      padding-right: 10px;
      display: none;
      cursor: pointer;
    }

    .search_account {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-left: auto;

      &__search,
      &__account {
        padding: 5px 10px 5px 10px;
        border: none;
        background-color: #0d0d0d;
      }

      .search {
        &__search_link {
          cursor: pointer;
        }
      }
    }
  }
}

@keyframes changeColor {
  0% {
    color: #ffffff;
  }
  100% {
    color: #ec3655;
  }
}

@keyframes appearance {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes disappearance {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@media (max-width: $brk_laptop_small) {
  header {
    .header_navigation {
      position: relative;
      &__menu {
        display: flex;
        flex-direction: column;
        background-color: #0d0d0d;
        position: absolute;
        width: 100%;
        top: 70px;
        left: 0;
        z-index: -1;
        transform: translateY(-200%);
        transition: 500ms;
      }
      .header_navigation__icon_menu {
        display: block;
        margin-left: auto;
      }
      .display_menu {
        transform: translateY(0px);
        z-index: 1;
      }

      .search_account {
        margin-left: 0px;
      }
    }
  }
}

@media (max-width: $brk_mobile_large) {
  header {
    margin: 0px;
  }
}
