/*BREAKPOINTS*/
$brk_laptop_large: 1440px;
$brk_laptop_medium: 1250px;
$brk_laptop_small: 1024px;
$brk_tablet_large_previous: 780px;
$brk_tablet_large: 768px;
$brk_tablet_medium: 600px;
$brk_mobile_large: 425px;
$brk_mobile_medium: 375px;
$brk_mobile_small: 320px;
