.gallery {
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
  animation: apparitionGallery 500ms linear;
  max-width: 2200px;
  margin-right: auto;
  margin-left: auto;

  &__gallery_navigation {
    display: flex;
  }

  .gallery_navigation {
    &__previous_icon {
      position: absolute;
      left: 0;
      bottom: 50%;
      z-index: 1;
    }

    &__next_icon {
      position: absolute;
      right: 0;
      bottom: 50%;
      z-index: 1;
    }
  }

  .images_container {
    display: flex;
    transition: all 500ms ease;

    &__image:hover {
      transform: scale(1);
      animation: forwards scaleImage 250ms;
    }
  }
}

.hidden {
  display: none;
}

.images_container__image {
  object-fit: cover;
  width: 200px;
  height: 315px;
  border: 7px rgb(44, 43, 43) solid;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
}

@keyframes scaleImage {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05);
  }
}

@keyframes apparitionGallery {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@media (max-width: $brk_tablet_medium) {
  .images_container__image {
    width: 154px;
    height: 242px;
  }
}

@media (max-width: $brk_mobile_large) {
  .gallery {
    margin-left: 0;
    margin-right: 0;
  }
  .images_container__image {
    width: 118px;
    height: 186px;
  }
}
