.modal {
  z-index: 2;
  animation: apparitionModal 500ms linear;
}

.modal,
.modal__overlay {
  width: 100vw;
  height: 120vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  &__overlay {
    background: rgba(49, 49, 49, 0.8);
  }

  .modal_content {
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    border-radius: 3px;
    max-width: 1200px;
    min-width: 600px;
    position: absolute;
    background-color: #0d0d0d;

    &__image {
      width: 100%;
    }

    &__title,
    &__description {
      color: white;
      padding: 0px 10px;
    }
    &__title {
      font-size: 40px;
    }

    &__description {
      margin-bottom: 10px;
    }

    &__close_button {
      position: absolute;
      top: -40px;
      right: 10px;
      padding: 5px 7px;
      border: none;
      background-color: transparent;
      cursor: pointer;
    }

    .vote_container {
      padding: 0px 10px;
      background-color: #0d0d0d;

      &__value {
        color: white;
      }
    }
  }
}

.active_modal {
  overflow-y: hidden;
}

@keyframes apparitionModal {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
